<div class="queries-execution-page">
  <div class="page-header">
     <button class="back-btn" (click)="goBack()">← Retour</button>
    <div>
      <h2>Gestion des queries</h2>
      <p>Exécuter des requêtes pour filtrer les deals disponibles.</p>
      <div *ngIf="query">
        <h2>{{ query.query_name }}</h2>

        <p><strong>Groupe :</strong> {{ query.group_name }}</p>

        <p><strong>Filtres :</strong></p>
        <code>{{ query.filters | json }}</code>

        <br><br>

        <div>
  <button class="create-btn" (click)="executeQuery(query.id)">Exécuter</button>

  <button class="create-btn"(click)="startEdit()">
    Modifier
  </button>

  <button class="create-btn" (click)="deleteQuery(query.id)">
    Supprimer
  </button>
</div>


      </div>
    </div>
  </div>
  <section class="card" *ngIf="statistics">
  <h3>Résumé de l'exécution</h3>

  <p><strong>Nombre de deals :</strong> {{ statistics.results_count }}</p>
  <p><strong>Quantité totale :</strong> {{ statistics.total_volume }} MWh</p>
  <p><strong>Montant total :</strong> {{ statistics.total_amount }} €</p>
  <p>
  <strong>Prix moyen pondéré :</strong>
  {{ statistics.average_price }} €/MWh
  soit {{ statistics.average_price / 1000 | number:'1.4-4' }} €/kWh
</p>
</section>
  <section class="card" *ngIf="results.length > 0">
    <h3>Résultats</h3>

    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Type</th>
          <th>Date livraison</th>
          <th>Amount</th>
          <th>Volume</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let deal of results">
          <td>{{ deal.product }}</td>
          <td>{{ deal.type }}</td>
          <td>{{ deal.delivery_date }}</td>
          <td>{{ deal.amount }}</td>
          <td>{{ deal.volume }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="card" *ngIf="showCreateForm">
    <h3>Filtres</h3>
<div class="filters-grid">

  <div>
  <label>Product</label>
  <select [(ngModel)]="dealFilters.product" name="product">
    <option value="">Tous</option>
    <option *ngFor="let p of filterOptions.product" [value]="p">
      {{ p }}
    </option>
  </select>
</div>

<div>
  <label>Deal type</label>
  <select [(ngModel)]="dealFilters.deal_type" name="deal_type">
    <option value="">Tous</option>
    <option *ngFor="let d of filterOptions.deal_type" [value]="d">
      {{ d }}
    </option>
  </select>
</div>

  <div>
    <label>Portfolio</label>
  <select [(ngModel)]="dealFilters.portfolio" name="portfolio">
  <option value="">Tous</option>
  <option *ngFor="let p of filterOptions.portfolio" [value]="p">
    {{ p }}
  </option>
</select>
  </div>

  <div>
    <label>TraderCode</label>
<select [(ngModel)]="dealFilters.trader_code">
  <option value="">Tous</option>
  <option *ngFor="let t of filterOptions.trader_code" [value]="t">
    {{ t }}
  </option>
</select>
  </div>

  <div>
    <label>Counterparty</label>
<select [(ngModel)]="dealFilters.counterparty_name">
  <option value="">Tous</option>
  <option *ngFor="let c of filterOptions.counterparty_name" [value]="c">
    {{ c }}
  </option>
</select>
  </div>

 <div>
  <label>Date début</label>
  <input
    type="date"
    name="start_date"
    [(ngModel)]="dealFilters.start_date">
</div>

<div>
  <label>Date fin</label>
  <input
    type="date"
    name="end_date"
    [(ngModel)]="dealFilters.end_date">
</div>
  <div>
    <label>Prix min</label>
    <input type="number" name="price_min" [(ngModel)]="dealFilters.price_min">
  </div>

  <div>
    <label>Prix max</label>
    <input type="number" name="price_max" [(ngModel)]="dealFilters.price_max">
  </div>


</div>

    <button class="primary-btn" type="button" (click)="searchDeals()">
      Rechercher les deals
    </button>
  </section>

  <!-- 3. Data à afficher -->
  <section class="card">
    <h3>Data</h3>

    <div class="data-grid">
      <label *ngFor="let field of dataFields">
        <input
          type="checkbox"
          [(ngModel)]="selectedDataFields[field]"
        >
        {{ field }}
      </label>
    </div>
  </section>

  <!-- 4. Résultats -->
  <section class="card" *ngIf="dealsResults.length > 0">
    <h3>Résultats trouvés : {{ dealsCount }}</h3>

    <table>
      <thead>
        <tr>
          <th *ngIf="selectedDataFields.Portfolio">Portfolio</th>
          <th *ngIf="selectedDataFields.Quantity">Quantity</th>
          <th *ngIf="selectedDataFields.DealType">DealType</th>
          <th *ngIf="selectedDataFields.TraderCode">TraderCode</th>
          <th *ngIf="selectedDataFields.Price">Price</th>
          <th *ngIf="selectedDataFields.Cash">Cash</th>
          <th *ngIf="selectedDataFields.OpenQuantity">OpenQuantity</th>
          <th *ngIf="selectedDataFields.BookingStatus">BookingStatus</th>
          <th *ngIf="selectedDataFields.BusinessUnit">BusinessUnit</th>
          <th *ngIf="selectedDataFields.DeliveryPoint">DeliveryPoint</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let deal of dealsResults">
          <td *ngIf="selectedDataFields.Portfolio">{{ deal.portfolio }}</td>
          <td *ngIf="selectedDataFields.Quantity">{{ deal.volume }}</td>
          <td *ngIf="selectedDataFields.DealType">{{ deal.deal_type }}</td>
          <td *ngIf="selectedDataFields.TraderCode">{{ deal.trader_code }}</td>
          <td *ngIf="selectedDataFields.Price">{{ deal.price }}</td>
          <td *ngIf="selectedDataFields.Cash">{{ deal.cash }}</td>
          <td *ngIf="selectedDataFields.OpenQuantity">{{ deal.open_quantity }}</td>
          <td *ngIf="selectedDataFields.BookingStatus">{{ deal.booking_status }}</td>
          <td *ngIf="selectedDataFields.BusinessUnit">{{ deal.business_unit }}</td>
          <td *ngIf="selectedDataFields.DeliveryPoint">{{ deal.delivery_point }}</td>
        </tr>
      </tbody>
    </table>
  </section>
