
<div class="queries-page">


  <section class="card">
    <div class="header-actions">
  <h2>Liste des queries</h2>

  <button class="create-btn" (click)="goToCreateQuery()">
    + Créer une requête
  </button>
</div>

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Groupe</th>
          <th>Filtres</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let query of queries">
          <td>{{ query.query_name }}</td>
           <td>{{ getGroupName(query.group_id) }}</td>
          <td>
    <code>{{ query.filters | json }}</code>
  </td>

 <td class="actions">
  <ng-container *ngIf="query.can_manage; else noAction">

    <button (click)="toggleActions(query.id)">
      Gérer
    </button>

    <div *ngIf="selectedQueryId === query.id" class="action-menu">
      <button (click)="executeQuery(query.id)">Exécuter</button>
      <button (click)="editQuery(query)">Modifier</button>
      <button class="danger" (click)="deleteQuery(query.id)">Supprimer</button>
    </div>

  </ng-container>

  <ng-template #noAction>
    <span class="readonly">Lecture seule</span>
  </ng-template>
</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="card" *ngIf="results.length > 0">
    <h3>Résultats</h3>

    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Type</th>
          <th>Date livraison</th>
          <th>Amount</th>
          <th>Volume</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let deal of results">
          <td>{{ deal.product }}</td>
          <td>{{ deal.type }}</td>
          <td>{{ deal.delivery_date }}</td>
          <td>{{ deal.amount }}</td>
          <td>{{ deal.volume }}</td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
