<div class="query-create-page">

  <button class="back-btn" (click)="goBack()">← Retour</button>

  <!-- 1. Informations principales de la Query -->
  <section class="card">
    <h2>Créer une Query</h2>

    <div class="form-row">
      <input
        type="text"
        placeholder="Nom de la query"
        [(ngModel)]="newQueryName"
        required
      >

      <div *ngIf="isGroupFixed">

  <input [value]="group?.name" disabled>
</div>

<div *ngIf="!isGroupFixed">
  <select [(ngModel)]="selectedGroupId">
    <option value="">Sélectionner un groupe</option>
    <option *ngFor="let g of groups" [value]="g.id">
      {{ g.name }}
    </option>
  </select>
</div>

      <select [(ngModel)]="dealFilters.product">
        <option value="">Produit</option>
        <option value="GAS">GAS</option>
        <option value="ELECTRICITY">ELECTRICITY</option>
        <option value="OIL">OIL</option>
        <option value="CO2">CO2</option>
      </select>

      <select [(ngModel)]="dealFilters.deal_type">
        <option value="">Type</option>
        <option value="BUY">BUY</option>
        <option value="SELL">SELL</option>
      </select>
    </div>
  </section>

  <!-- 2. Filtres Deals -->
  <section class="card">
    <h3>Filtres</h3>
<div class="filters-grid">

 <div>
    <label>Portfolio</label>
  <select [(ngModel)]="dealFilters.portfolio">
  <option value="">Tous</option>
  <option *ngFor="let p of filterOptions.portfolio" [value]="p">
    {{ p }}
  </option>
</select>
  </div>

<div>
<label>TraderCode</label>
 <select [(ngModel)]="dealFilters.trader_code">
  <option value="">Trader Code</option>
  <option *ngFor="let t of filterOptions.trader_code" [value]="t">
    {{ t }}
  </option>
</select>
</div>

  <div>
    <label>Counterparty</label>
<select [(ngModel)]="dealFilters.counterparty_name">
  <option value="">Tous</option>
  <option *ngFor="let c of filterOptions.counterparty_name" [value]="c">
    {{ c }}
  </option>
</select>
  </div>

  <div>
  <label>Date début</label>
  <input
    type="date"
    name="start_date"
    [(ngModel)]="dealFilters.start_date">
</div>

<div>
  <label>Date fin</label>
  <input
    type="date"
    name="end_date"
    [(ngModel)]="dealFilters.end_date">
</div>

  <div>
    <label>Prix min</label>
    <input type="number" name="price_min" [(ngModel)]="dealFilters.price_min">
  </div>

  <div>
    <label>Prix max</label>
    <input type="number" name="price_max" [(ngModel)]="dealFilters.price_max">
  </div>

</div>

    <button class="primary-btn" type="button" (click)="searchDeals()">
      Rechercher les deals
    </button>
  </section>

  <!-- 3. Data à afficher -->
  <section class="card">
    <h3>Data</h3>

    <div class="data-grid">
      <label *ngFor="let field of dataFields">
        <input
          type="checkbox"
          [(ngModel)]="selectedDataFields[field]"
        >
        {{ field }}
      </label>
    </div>
  </section>

  <!-- 4. Résultats -->
  <section class="card" *ngIf="dealsResults.length > 0">
    <h3>Résultats trouvés : {{ dealsCount }}</h3>

    <table>
      <thead>
        <tr>
          <th *ngIf="selectedDataFields.Portfolio">Portfolio</th>
          <th *ngIf="selectedDataFields.Quantity">Quantity</th>
          <th *ngIf="selectedDataFields.DealType">DealType</th>
          <th *ngIf="selectedDataFields.TraderCode">TraderCode</th>
          <th *ngIf="selectedDataFields.Price">Price</th>
          <th *ngIf="selectedDataFields.Cash">Cash</th>
          <th *ngIf="selectedDataFields.OpenQuantity">OpenQuantity</th>
          <th *ngIf="selectedDataFields.BookingStatus">BookingStatus</th>
          <th *ngIf="selectedDataFields.BusinessUnit">BusinessUnit</th>
          <th *ngIf="selectedDataFields.DeliveryPoint">DeliveryPoint</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let deal of dealsResults">
          <td *ngIf="selectedDataFields.Portfolio">{{ deal.portfolio }}</td>
          <td *ngIf="selectedDataFields.Quantity">{{ deal.volume }}</td>
          <td *ngIf="selectedDataFields.DealType">{{ deal.deal_type }}</td>
          <td *ngIf="selectedDataFields.TraderCode">{{ deal.trader_code }}</td>
          <td *ngIf="selectedDataFields.Price">{{ deal.price }}</td>
          <td *ngIf="selectedDataFields.Cash">{{ deal.cash }}</td>
          <td *ngIf="selectedDataFields.OpenQuantity">{{ deal.open_quantity }}</td>
          <td *ngIf="selectedDataFields.BookingStatus">{{ deal.booking_status }}</td>
          <td *ngIf="selectedDataFields.BusinessUnit">{{ deal.business_unit }}</td>
          <td *ngIf="selectedDataFields.DeliveryPoint">{{ deal.delivery_point }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <button class="create-btn" (click)="createQuery()">
    Créer la Query
  </button>

</div>
