<header class="topbar">
  <div class="brand">ENGIE Queries</div>
 <div class="current-user">
  Bonjour, <span>{{ currentName }}</span>
  <span *ngIf="isAdmin()" class="admin-badge">
    ADMIN
  </span>
</div>

  <nav>
    <button routerLink="/dashboard">Dashboard</button>
    <button routerLink="/users">Users</button>
    <button routerLink="/groups">Groups</button>
    <button *ngIf="!isAdmin()" routerLink="/queries" >Queries</button>
    <button *ngIf="isAdmin()" routerLink="/audits">Audits</button>

    <button (click)="logout()">Logout</button>
  </nav>
</header>
