<div class="login-page">

  <div class="login-card">
    <div class="brand">ENGIE – Queries</div>

    <h2>Connexion</h2>
    <p class="subtitle">Accédez à votre espace sécurisé</p>

    <form (ngSubmit)="login()">
      <div class="form-group">
        <label>Email</label>
        <input
          [(ngModel)]="email"
          name="email"
          type="email"
          placeholder="exemple@engie.com"
          required
        />
      </div>

      <div class="form-group">
        <label>Mot de passe</label>
        <input
          [(ngModel)]="password"
          name="password"
          type="password"
          placeholder="Votre mot de passe"
          required
        />
      </div>

      <button type="submit">Se connecter</button>
    </form>

    <p *ngIf="error" class="error-message">
      {{ error }}
    </p>
  </div>

</div>